**/node_modules
**/.next
**/.expo
**/.turbo
**/dist
**/coverage
**/build
**/*.tsbuildinfo
**/build.log
.git
.github
.husky
.changeset
.vscode
.idea
.DS_Store
.env
.env.*
!.env.example
docs
ops
env
*.md
!README.md
Dockerfile
docker-compose*.yml
.sops.yaml
.sops.yaml.example
*.dec.yaml
pnpm-debug.log*
