.DS_Store
.age-key.txt
.agekey
.env
.env.*
!.env.example
env/**/*.env
!env/**/*.env.example
sops.agekey
.expo
.next
.omx
.turbo
*.tsbuildinfo
build.log
coverage
dist
node_modules
pnpm-debug.log*
playwright-report
test-results
