VITE_MFE_HOST_ENV=local
VITE_MFE_HOST_URL=https://mfe.fullstack-typescript-template.localhost
VITE_MFE_DASHBOARD_MANIFEST_URL=https://mfe-dashboard.fullstack-typescript-template.localhost/mfe-manifest.dev.json
