NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_API_URL=https://api.fullstack-typescript-template.localhost
NEXT_PUBLIC_AUTH_MODE=better-auth-embedded
NEXT_PUBLIC_AUTH_TOPOLOGY=modular-monolith
# NEXT_PUBLIC_AUTH_ISSUER_URL=https://web.fullstack-typescript-template.localhost
# NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:4001
NEXT_PUBLIC_WEB_URL=https://web.fullstack-typescript-template.localhost
